.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 110vh;
  background-color: #2355cb;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 110vh;
  background-color: #2355cb;
  margin-left: 200px;
}

.title {
  margin-top: -80px;
  font-weight: 700;
  font-size: 50px;
  font-family: var(--font-mono);
}

.companies {
  margin-bottom: 100px
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.graph{
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  width: var(--max-width);
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px
}

.code {
  font-weight: 700;
  font-size: 20px;
  font-family: var(--font-mono);
  margin-left: 10px
}

.form {
  font-weight: 700;
  font-size: 20px;
  font-family: var(--font-mono);
  margin-left: 10px
}

.label {
  font-weight: 700;
  font-size: 20px;
  font-family: var(--font-mono);
  margin-left: 10px;
  padding: 1rem 1.2rem;
  background-color: #1e3a8a;
  border-radius: 10px;
}

.filter {
  font-weight: 700;
  font-size: 20px;
  font-family: var(--font-mono);
  margin-left: 16px;
  padding: 0.5rem 1rem;
  background-color: #1e3a8a;
  border-radius: 10px;
}

.submit {
  font-weight: 700;
  font-size: 20px;
  font-family: var(--font-mono);
  margin-left: 10px;
  background-color: #22c55e;
  border-radius: 10px;
  border: none;
  padding: 1rem 1.2rem;
  cursor: pointer;
}

.submit:hover {
  background-color: #22c57e;
}

.task_button {
  margin-top: 15px;
  margin-bottom: 0px
}

.edit {
  font-weight: 700;
  font-size: 15px;
  font-family: var(--font-mono);
  background-color: #22c55e;
  border-radius: 10px;
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
}
.edit:hover {
  background-color: #22c57e;
}

.delete {
  font-weight: 700;
  font-size: 15px;
  font-family: var(--font-mono);
  margin-left: 10px;
  background-color: red;
  border-radius: 10px;
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
}
.delete:hover {
  background-color: #f00111;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.user_grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.unit{
  display: grid;
  grid-template-columns: repeat(8, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%; 
  margin-left: 100px;
  margin-bottom: 10px;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.8;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.user {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--user-rgb), 0);
  border: 1px solid rgba(var(--user-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.user span {
  display: inline-block;
  transition: transform 200ms;
}

.user h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.user p {
  margin: 0;
  opacity: 0.8;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.logo {
  position: relative;
}


.sidebar{
  margin:0;
  padding:0;
  width: 250px;
  background-color: #1e3a8a;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar div{
  background-color: #181C2E;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  padding-top: 30px;
}

.sidebar a{
  display: block;
  color: rgba(255,255,255, 0.7);
  padding: 16px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: ease-in-out 0.4s;
}

.sidebar a svg{
  margin-right: 0.5em;
}

.sidebar a:hover{
  background-color: #121212;
  color: white;
}

.content{
  margin-left: 200px;
  padding: 1px 16px;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(8px);
  }

  .user:hover {
    background: rgba(var(--user-rgb), 0);
    border: 1px solid rgba(var(--user-border-rgb), 0);
  }

  .user:hover span {
    transform: translateX(8px);
  }

}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }

  .user:hover span {
    transform: none;
  }

  .submit:hover {
    transform: none;
  }

  .delete:hover {
    transform: none;
  }

  .edit:hover {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
    margin-left: 0;
  }

  .home {
    margin-left: 0;
  }

  .main {
    margin-left: 0;
  }

  .form {
    display: absolute;
    justify-content: center;
    position: fixed;
    width: 100%;
  }
  
  .edit {
    margin-left: 15px
  }
  
  .delete {
    margin-top: 10px
  }

  .label {

  }
  
  .filter {

  }
  
  .submit {

  }

  .user_grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    margin-left: 50px;
    max-width: 320px;
    text-align: center;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    margin-left: 0px;
    max-width: 320px;
    text-align: center;
  }

  .unit{
    grid-template-columns: 1fr;
    margin-bottom: 100px;
    margin-top: 60px;
    margin-left: 0px;
    max-width: 320px;
    text-align: center;
  }

  .graph {
    grid-template-columns: 2fr; 
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }


  .sidebar{
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a{
      float: left;
  }
  .sidebar div{
      display: none;
  }
  .sidebar a svg{
      display: none;
  }

}

@media screen and (max-width:400px) {
  .sidebar a{
      text-align: center;
      float: none;
  }
  .sidebar a svg{
      display: none;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 60%);
  }

  .unit{
    margin-top: 60px;
    grid-template-columns: repeat(2, 50%);
  }

  .companies{
    margin-left: 600px;
    margin-bottom: 600px;
  }
  .user_grid{
    grid-template-columns: repeat(2, 60%);
  }

  .label{

  }

  .graph {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
